{% extends "layout.html" %}

{% block title %}
<title> Taft Italian Club</title>

<link rel="shortcut icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAJFBMVEX///8AkkfgACTfABcAjz56uI/pcXnp6enw7e9wsIbq8fDkaHH5E+83AAABC0lEQVR4nO3QRwHAMBADsEtXFn++IVH/JAiqFvPM0VPWvq+YCp68lfM5ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4+eVkjp6ydvDkAHpg0vWI40jKAAAAAElFTkSuQmCC" />
{% endblock %}

{% block body %}
<div class="text-center">
  <h1 class="display-4 jumbotron">
    Taft Italian Club
  </h1>
  <link href="style.css" rel="stylesheet" type="text/css">
</div>
{% endblock %}
