{% extends "layout.html" %}

{% block title %}
Taft Italian Club
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Taft High School Italian Club</h1>
  <link href="style.css" rel="stylesheet" type="text/css">
  <p class="lead">Welcome to the official website of Taft High School's very own Italian Club!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://tafths.org/" role="button" target="_blank">Taft HS Website</a>
  </p>
</div>
{% endblock %}
